/*css Reset*/
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Montserrat', sans-serif;
}
strong, em {
	font-family: 'Raleway', sans-serif;
}

/*body*/

.body-bg {
        			
     background-repeat: no-repeat;
     background-attachment: fixed;
      background-size: cover ;
     background-position: top;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(bgrnd.webp);
     height: 100vh;
     width:95%;
     		}
h1 ,h2,h3,h4 ,h5,h6{
	background:linear-gradient( to right,  #A8DEE0  20% ,#fbc78d 80% );
	-webkit-background-clip:Text ;
	-webkit-text-fill-color :transparent; }
/*landing page	*/
/*end of landing page*/
#landing-page {
	height:80vh;
	margin:2rem;

}
/*projects*/
#projects{
	margin:30px;
}



/*CONTACT SECTION*/
.contacts {
	max-width: 100%;
	margin:50px auto;
	position: relative;box-shadow: 0 10 px 30px 0px rgba(0,0,0,0.1);
	padding:30px;
	height:100vh;

}


/*end of contact section*/

.submit-btn {
	
	background-color: skyblue;
}

.hover:hover {transform: scale(1.15);}
.hover{transition: all 0.3s;
	
}