//BANNER PAGE
#navbar{
	width: 1680px;
	height: 68px;
	flex-shrink: 0;
    background: #765C3D;
    padding: 10px;
    position: sticky;
    top: 0;
   
    background-color: #765C3D;

}
 #logo {
	width: 48.632px;
height: 44px;
flex-shrink: 0;
background: url(logo.png>), lightgray 50% / cover no-repeat;
 position: relative;
}
.body-bgrnd{

		background: url(bgrnd.jpg) no-repeat center center / cover, rgba(0, 0, 0, 0.59);
		width: 10px;
		height: 816px;
		flex-shrink: 0;
		

		}
#banner {
	width: 1680px;
height: 3134px;
flex-shrink: 0;
	
}
 #title {
	color: #FFF;
	font-family: Montserrat;
	font-size: 64px;
	font-style: normal;
	font-weight: 600;
	line-height: 72px; /* 112.5% */
	letter-spacing: -1.28px;
	}
#button {
	border-radius: 999px;
    background: #B59066;
	color: #ffffff;
	display: flex;
   padding: 12px 32px;
   justify-content: center;
   align-items: center;
  gap: 8px;
}
#banner-container {
	width: 493px;
	height: 200px;
    flex-shrink: 0;
}

 #subtitle {
	
	color: #FFF;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px; /* 125% */
	}

#gallery{
	display: flex;
	width: 983px;
    height: 138px;
    flex-direction: column;
	justify-content: center;
    align-items: center;
    gap: 31px;
    flex-shrink: 0;
    margin:auto;
    padding:60px;
	}

#gallery #gallery-title {
	color: #765C3D;
	text-align: center;
	font-family: Montserrat;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;

}

#gallery #gallery-subtitle  {
	color: #765C3D;
	text-align: center;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	}
#album1 {
	background: #FFF;
	box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.25);
    width: 1245px;
height: 764px;
flex-shrink: 0;
}
#album1-title {
	color: #765C3D;
	font-family: Montserrat;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	width: 830px;
	height: 401px;
	flex-shrink: 0;
		}

	#album1 #album1-jpg {
	width: 830px;
	height: 401px;
	flex-shrink: 0;
	}


 #contact-details {
		width: 1680px;
		height: 1088px;
		flex-shrink: 0;
		background: #FFF2E4;
		}
	#contact #image{
		width: 808px;
		height: 1088px;
		flex-shrink: 0;
	}


	 #contact-title {
		display: flex;
		width: 509px;
		height: 138px;
	    flex-direction: column;
	    justify-content: center;
	    align-items: flex-start;
	   gap: 31px;
	   flex-shrink: 0;
	   color:#765c3d;
	}

 #contactUs {
		color: #765C3D;
		font-family: Montserrat;
		font-size: 40px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		display: flex;
		width: 501.751px;
		height: 49px;
		flex-direction: column;
		justify-content: flex-end;
		flex-shrink: 0;
		}
		#contact #contact-details #button2 {
			background-color: #B59066;
		}