.img-float {
	width:250px;
	height: 250px;
	z-index:1;
/*float property can be set either to the left or right.
This positioning will depend on the content or sibling or element you are selecting	*/
	float:right;
}

.parent-element {
	background-color:skyblue;
	padding:10px;
	position :relative ;
	height: 800vh;
/*z-index -is used for the prioritation of your stack of the elements. you can use nagative values for the elements 	*/
	z-index:-1;


}

.child-one {
	padding:10px;
	background-color: grey;
	
}

.child-two {
	padding:10px;
	background-color: yellow;
	
/*static: deafult postion
relative: opposite of static wherein you can modify top left bottom right properties to define 
the exact position of the element which also depent on the parent element.
absolute: it depends on the whole page instead of the parent element where you can also modify the top,right, left, bottom properties of the elements	*/
/*fixed: this will attach to the page itself and will not move regardless on if you scroll
sticky: this will be positioned relative by default but once it reaches a ceratin scroll point,
 then it will stick to the browser until it is back in its original position*/

position:sticky;
	top:10px;}
	

.child-three {
	padding:10px;
	background-color:indianred ;
	/*position:sticky;
	top:10px;*/
	
}

html {
	height:800vh;
}



/*Start of member 4*/

.container {
	text-align: right;
	width: 40%;
	position: relative;
	left: 50%;

}

.title {
	font: zillaslab ;
	font-size : 2.5rem;
	font-weight: 600;
}

.subtitle {
	font-size: 1.3rem;
	font-weight: 300;
	width: 75%;
	margin: 9rem 0 0 9rem;

}

#apply-button {
	margin-top: 10px;
	background-color: #c2195b;
}

/*end of member 4*/
